* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

[class*="push-"], 
[class*="pull-"] {
    position: relative;
}

.col-fill {
    float: none;
    overflow: hidden;
}

.col,
.col-100   { width        : 100% }

.col-5     { width        : 5%; }
.prefix-5  { margin-left  : 5%; }
.suffix-5  { margin-right : 5%; }
.push-5    { left         : 5%; }
.pull-5    { left         : -5%; }

.col-10    { width        : 10%; }
.prefix-10 { margin-left  : 10%; }
.suffix-10 { margin-right : 10%; }
.push-10   { left         : 10%; }
.pull-10   { left         : -10%; }

.col-15    { width        : 15%; }
.prefix-15 { margin-left  : 15%; }
.suffix-15 { margin-right : 15%; }
.push-15   { left         : 15%; }
.pull-15   { left         : -15%; }

.col-20    { width        : 20%; }
.prefix-20 { margin-left  : 20%; }
.suffix-20 { margin-right : 20%; }
.push-20   { left         : 20%; }
.pull-20   { left         : -20%; }

.col-25    { width        : 25%; }
.prefix-25 { margin-left  : 25%; }
.suffix-25 { margin-right : 25%; }
.push-25   { left         : 25%; }
.pull-25   { left         : -25%; }

.col-30    { width        : 30%; }
.prefix-30 { margin-left  : 30%; }
.suffix-30 { margin-right : 30%; }
.push-30   { left         : 30%; }
.pull-30   { left         : -30%; }

.col-35    { width        : 35%; }
.prefix-35 { margin-left  : 35%; }
.suffix-35 { margin-right : 35%; }
.push-35   { left         : 35%; }
.pull-35   { left         : -35%; }

.col-40    { width        : 40%; }
.prefix-40 { margin-left  : 40%; }
.suffix-40 { margin-right : 40%; }
.push-40   { left         : 40%; }
.pull-40   { left         : -40%; }

.col-45    { width        : 45%; }
.prefix-45 { margin-left  : 45%; }
.suffix-45 { margin-right : 45%; }
.push-45   { left         : 45%; }
.pull-45   { left         : -45%; }

.col-50    { width        : 50%; }
.prefix-50 { margin-left  : 50%; }
.suffix-50 { margin-right : 50%; }
.push-50   { left         : 50%; }
.pull-50   { left         : -50%; }

.col-55    { width        : 55%; }
.prefix-55 { margin-left  : 55%; }
.suffix-55 { margin-right : 55%; }
.push-55   { left         : 55%; }
.pull-55   { left         : -55%; }

.col-60    { width        : 60%; }
.prefix-60 { margin-left  : 60%; }
.suffix-60 { margin-right : 60%; }
.push-60   { left         : 60%; }
.pull-60   { left         : -60%; }

.col-65    { width        : 65%; }
.prefix-65 { margin-left  : 65%; }
.suffix-65 { margin-right : 65%; }
.push-65   { left         : 65%; }
.pull-65   { left         : -65%; }

.col-70    { width        : 70%; }
.prefix-70 { margin-left  : 70%; }
.suffix-70 { margin-right : 70%; }
.push-70   { left         : 70%; }
.pull-70   { left         : -70%; }

.col-75    { width        : 75%; }
.prefix-75 { margin-left  : 75%; }
.suffix-75 { margin-right : 75%; }
.push-75   { left         : 75%; }
.pull-75   { left         : -75%; }

.col-80    { width        : 80%; }
.prefix-80 { margin-left  : 80%; }
.suffix-80 { margin-right : 80%; }
.push-80   { left         : 80%; }
.pull-80   { left         : -80%; }

.col-85    { width        : 85%; }
.prefix-85 { margin-left  : 85%; }
.suffix-85 { margin-right : 85%; }
.push-85   { left         : 85%; }
.pull-85   { left         : -85%; }

.col-90    { width        : 90%; }
.prefix-90 { margin-left  : 90%; }
.suffix-90 { margin-right : 90%; }
.push-90   { left         : 90%; }
.pull-90   { left         : -90%; }

.col-95    { width        : 95%; }
.prefix-95 { margin-left  : 95%; }
.suffix-95 { margin-right : 95%; }
.push-95   { left         : 95%; }
.pull-95   { left         : -95%; }

.col-33    { width        : 33.33333%; }
.prefix-33 { margin-left  : 33.33333%; }
.suffix-33 { margin-right : 33.33333%; }
.push-33   { left         : 33.33333%; }
.pull-33   { left         : -33.33333%; }

.col-66    { width        : 66.66667%; }
.prefix-66 { margin-left  : 66.66667%; }
.suffix-66 { margin-right : 66.66667%; }
.push-66   { left         : 66.66667%; }
.pull-66   { left         : -66.66667%; }

.col-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.small-is-hidden {
    display: none;
}

@media only screen and (min-width: 640px) {

    .medium-col-100   { width        : 100% }

    .medium-col-5     { width        : 5%; }
    .medium-prefix-5  { margin-left  : 5%; }
    .medium-suffix-5  { margin-right : 5%; }
    .medium-push-5    { left         : 5%; }
    .medium-pull-5    { left         : -5%; }

    .medium-col-10    { width        : 10%; }
    .medium-prefix-10 { margin-left  : 10%; }
    .medium-suffix-10 { margin-right : 10%; }
    .medium-push-10   { left         : 10%; }
    .medium-pull-10   { left         : -10%; }

    .medium-col-15    { width        : 15%; }
    .medium-prefix-15 { margin-left  : 15%; }
    .medium-suffix-15 { margin-right : 15%; }
    .medium-push-15   { left         : 15%; }
    .medium-pull-15   { left         : -15%; }

    .medium-col-20    { width        : 20%; }
    .medium-prefix-20 { margin-left  : 20%; }
    .medium-suffix-20 { margin-right : 20%; }
    .medium-push-20   { left         : 20%; }
    .medium-pull-20   { left         : -20%; }

    .medium-col-25    { width        : 25%; }
    .medium-prefix-25 { margin-left  : 25%; }
    .medium-suffix-25 { margin-right : 25%; }
    .medium-push-25   { left         : 25%; }
    .medium-pull-25   { left         : -25%; }

    .medium-col-30    { width        : 30%; }
    .medium-prefix-30 { margin-left  : 30%; }
    .medium-suffix-30 { margin-right : 30%; }
    .medium-push-30   { left         : 30%; }
    .medium-pull-30   { left         : -30%; }

    .medium-col-35    { width        : 35%; }
    .medium-prefix-35 { margin-left  : 35%; }
    .medium-suffix-35 { margin-right : 35%; }
    .medium-push-35   { left         : 35%; }
    .medium-pull-35   { left         : -35%; }

    .medium-col-40    { width        : 40%; }
    .medium-prefix-40 { margin-left  : 40%; }
    .medium-suffix-40 { margin-right : 40%; }
    .medium-push-40   { left         : 40%; }
    .medium-pull-40   { left         : -40%; }

    .medium-col-45    { width        : 45%; }
    .medium-prefix-45 { margin-left  : 45%; }
    .medium-suffix-45 { margin-right : 45%; }
    .medium-push-45   { left         : 45%; }
    .medium-pull-45   { left         : -45%; }

    .medium-col-50    { width        : 50%; }
    .medium-prefix-50 { margin-left  : 50%; }
    .medium-suffix-50 { margin-right : 50%; }
    .medium-push-50   { left         : 50%; }
    .medium-pull-50   { left         : -50%; }

    .medium-col-55    { width        : 55%; }
    .medium-prefix-55 { margin-left  : 55%; }
    .medium-suffix-55 { margin-right : 55%; }
    .medium-push-55   { left         : 55%; }
    .medium-pull-55   { left         : -55%; }

    .medium-col-60    { width        : 60%; }
    .medium-prefix-60 { margin-left  : 60%; }
    .medium-suffix-60 { margin-right : 60%; }
    .medium-push-60   { left         : 60%; }
    .medium-pull-60   { left         : -60%; }

    .medium-col-65    { width        : 65%; }
    .medium-prefix-65 { margin-left  : 65%; }
    .medium-suffix-65 { margin-right : 65%; }
    .medium-push-65   { left         : 65%; }
    .medium-pull-65   { left         : -65%; }

    .medium-col-70    { width        : 70%; }
    .medium-prefix-70 { margin-left  : 70%; }
    .medium-suffix-70 { margin-right : 70%; }
    .medium-push-70   { left         : 70%; }
    .medium-pull-70   { left         : -70%; }

    .medium-col-75    { width        : 75%; }
    .medium-prefix-75 { margin-left  : 75%; }
    .medium-suffix-75 { margin-right : 75%; }
    .medium-push-75   { left         : 75%; }
    .medium-pull-75   { left         : -75%; }

    .medium-col-80    { width        : 80%; }
    .medium-prefix-80 { margin-left  : 80%; }
    .medium-suffix-80 { margin-right : 80%; }
    .medium-push-80   { left         : 80%; }
    .medium-pull-80   { left         : -80%; }

    .medium-col-85    { width        : 85%; }
    .medium-prefix-85 { margin-left  : 85%; }
    .medium-suffix-85 { margin-right : 85%; }
    .medium-push-85   { left         : 85%; }
    .medium-pull-85   { left         : -85%; }

    .medium-col-90    { width        : 90%; }
    .medium-prefix-90 { margin-left  : 90%; }
    .medium-suffix-90 { margin-right : 90%; }
    .medium-push-90   { left         : 90%; }
    .medium-pull-90   { left         : -90%; }

    .medium-col-95    { width        : 95%; }
    .medium-prefix-95 { margin-left  : 95%; }
    .medium-suffix-95 { margin-right : 95%; }
    .medium-push-95   { left         : 95%; }
    .medium-pull-95   { left         : -95%; }

    .medium-col-33    { width        : 33.33333%; }
    .medium-prefix-33 { margin-left  : 33.33333%; }
    .medium-suffix-33 { margin-right : 33.33333%; }
    .medium-push-33   { left         : 33.33333%; }
    .medium-pull-33   { left         : -33.33333%; }

    .medium-col-66    { width        : 66.66667%; }
    .medium-prefix-66 { margin-left  : 66.66667%; }
    .medium-suffix-66 { margin-right : 66.66667%; }
    .medium-push-66   { left         : 66.66667%; }
    .medium-pull-66   { left         : -66.66667%; }

    .medium-col-centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .medium-is-hidden {
        display: none;
    }

    .small-is-hidden {
        display: inherit;
    }

}

@media only screen and (min-width: 768px) {

    .large-col-100   { width        : 100% }

    .large-col-5     { width        : 5%; }
    .large-prefix-5  { margin-left  : 5%; }
    .large-suffix-5  { margin-right : 5%; }
    .large-push-5    { left         : 5%; }
    .large-pull-5    { left         : -5%; }

    .large-col-10    { width        : 10%; }
    .large-prefix-10 { margin-left  : 10%; }
    .large-suffix-10 { margin-right : 10%; }
    .large-push-10   { left         : 10%; }
    .large-pull-10   { left         : -10%; }

    .large-col-15    { width        : 15%; }
    .large-prefix-15 { margin-left  : 15%; }
    .large-suffix-15 { margin-right : 15%; }
    .large-push-15   { left         : 15%; }
    .large-pull-15   { left         : -15%; }

    .large-col-20    { width        : 20%; }
    .large-prefix-20 { margin-left  : 20%; }
    .large-suffix-20 { margin-right : 20%; }
    .large-push-20   { left         : 20%; }
    .large-pull-20   { left         : -20%; }

    .large-col-25    { width        : 25%; }
    .large-prefix-25 { margin-left  : 25%; }
    .large-suffix-25 { margin-right : 25%; }
    .large-push-25   { left         : 25%; }
    .large-pull-25   { left         : -25%; }

    .large-col-30    { width        : 30%; }
    .large-prefix-30 { margin-left  : 30%; }
    .large-suffix-30 { margin-right : 30%; }
    .large-push-30   { left         : 30%; }
    .large-pull-30   { left         : -30%; }

    .large-col-35    { width        : 35%; }
    .large-prefix-35 { margin-left  : 35%; }
    .large-suffix-35 { margin-right : 35%; }
    .large-push-35   { left         : 35%; }
    .large-pull-35   { left         : -35%; }

    .large-col-40    { width        : 40%; }
    .large-prefix-40 { margin-left  : 40%; }
    .large-suffix-40 { margin-right : 40%; }
    .large-push-40   { left         : 40%; }
    .large-pull-40   { left         : -40%; }

    .large-col-45    { width        : 45%; }
    .large-prefix-45 { margin-left  : 45%; }
    .large-suffix-45 { margin-right : 45%; }
    .large-push-45   { left         : 45%; }
    .large-pull-45   { left         : -45%; }

    .large-col-50    { width        : 50%; }
    .large-prefix-50 { margin-left  : 50%; }
    .large-suffix-50 { margin-right : 50%; }
    .large-push-50   { left         : 50%; }
    .large-pull-50   { left         : -50%; }

    .large-col-55    { width        : 55%; }
    .large-prefix-55 { margin-left  : 55%; }
    .large-suffix-55 { margin-right : 55%; }
    .large-push-55   { left         : 55%; }
    .large-pull-55   { left         : -55%; }

    .large-col-60    { width        : 60%; }
    .large-prefix-60 { margin-left  : 60%; }
    .large-suffix-60 { margin-right : 60%; }
    .large-push-60   { left         : 60%; }
    .large-pull-60   { left         : -60%; }

    .large-col-65    { width        : 65%; }
    .large-prefix-65 { margin-left  : 65%; }
    .large-suffix-65 { margin-right : 65%; }
    .large-push-65   { left         : 65%; }
    .large-pull-65   { left         : -65%; }

    .large-col-70    { width        : 70%; }
    .large-prefix-70 { margin-left  : 70%; }
    .large-suffix-70 { margin-right : 70%; }
    .large-push-70   { left         : 70%; }
    .large-pull-70   { left         : -70%; }

    .large-col-75    { width        : 75%; }
    .large-prefix-75 { margin-left  : 75%; }
    .large-suffix-75 { margin-right : 75%; }
    .large-push-75   { left         : 75%; }
    .large-pull-75   { left         : -75%; }

    .large-col-80    { width        : 80%; }
    .large-prefix-80 { margin-left  : 80%; }
    .large-suffix-80 { margin-right : 80%; }
    .large-push-80   { left         : 80%; }
    .large-pull-80   { left         : -80%; }

    .large-col-85    { width        : 85%; }
    .large-prefix-85 { margin-left  : 85%; }
    .large-suffix-85 { margin-right : 85%; }
    .large-push-85   { left         : 85%; }
    .large-pull-85   { left         : -85%; }

    .large-col-90    { width        : 90%; }
    .large-prefix-90 { margin-left  : 90%; }
    .large-suffix-90 { margin-right : 90%; }
    .large-push-90   { left         : 90%; }
    .large-pull-90   { left         : -90%; }

    .large-col-95    { width        : 95%; }
    .large-prefix-95 { margin-left  : 95%; }
    .large-suffix-95 { margin-right : 95%; }
    .large-push-95   { left         : 95%; }
    .large-pull-95   { left         : -95%; }

    .large-col-33    { width        : 33.33333%; }
    .large-prefix-33 { margin-left  : 33.33333%; }
    .large-suffix-33 { margin-right : 33.33333%; }
    .large-push-33   { left         : 33.33333%; }
    .large-pull-33   { left         : -33.33333%; }

    .large-col-66    { width        : 66.66667%; }
    .large-prefix-66 { margin-left  : 66.66667%; }
    .large-suffix-66 { margin-right : 66.66667%; }
    .large-push-66   { left         : 66.66667%; }
    .large-pull-66   { left         : -66.66667%; }

    .large-col-centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .large-is-hidden {
        display: none;
    }

    .medium-is-hidden {
        display: inherit;
    }

    .small-is-hidden {
        display: inherit;
    }

}

